###############################################################################
# Normalize line endings using LF.
###############################################################################
* text eol=lf

###############################################################################
# Behavior for binary files.
###############################################################################
*.png   binary
*.jpg   binary
*.jpeg  binary
*.bmp   binary
*.gif   binary
*.tga   binary
*.psd   binary
*.ico   binary
*.ttf   binary
*.pdf binary

###############################################################################
# Set Markdown code to be indexed as an actual language by GitHub Linguist.
###############################################################################
content/**/*.md linguist-language=Markdown
content/**/*.md linguist-detectable=true
