/* Center the hero scene and put it behind all other page elements */
#hero
{
    position: fixed;
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
    width: 100vw;
    height: 100vh;
    z-index: -1; /* behind all content */
    overflow: hidden;
    pointer-events: none; /* so links still work */
}

/* Center the canvas and extend size to fullscreen */
#gfx-canvas
{
    width: 100%;
    height: 100%;
    display: block;
}

/* Makes the horizontal header bar transparent and removes all backdrop blur effects */
.md-header
{
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    width: 100%;
    z-index: 10;
}

/* Hide the theme-toggle button */
.md-header [data-md-component="palette"]
{
    display: none !important;
}

/* Remove empty space left-behind by the hidden theme-toggle button */
.md-header__inner
{
    gap: 0;
}

/* Hide the horizontal footer bar */
.md-footer-meta
{
    display: none !important;
}
