#hero {
    position: fixed;
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
    width: 100vw;
    height: 100vh;
    z-index: 0; /* behind all content */
    overflow: hidden;
    pointer-events: none; /* so links still work */
}

#gfx-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.md-header {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    width: 100%;
    z-index: 10;
}
