/* Center the hero scene and put it behind all other page elements */
#hero
{
    position: fixed;
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
    width: 100vw;
    height: 100vh;
    z-index: -1; /* behind all content */
    overflow: hidden;
    pointer-events: none; /* so links still work */
}

/* Center the canvas and extend size to fullscreen */
#gfx-canvas
{
    width: 100%;
    height: 100%;
    display: block;
}

/* Makes the horizontal header bar transparent and removes all backdrop blur effects */
.md-header
{
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    width: 100%;
    z-index: 10;
}

/* Hide the theme-toggle button */
.md-header [data-md-component="palette"]
{
    display: none !important;
}

/* Remove empty space left-behind by the hidden theme-toggle button */
.md-header__inner
{
    gap: 0;
}

/* Hide the horizontal footer bar */
.md-footer-meta
{
    display: none !important;
}

/* Kill the left navigation sidebar */
.md-sidebar--primary
{
    display: none !important;
}

/* Remove the space occupied by the left navigation sidebar */
.md-main
{
    margin-left: 0 !important;
}

/* Let markdown content use the full width */
.md-content
{
    max-width: 100% !important;
}

/* Hide permalinks for markdown headers */
.md-typeset h1 .headerlink,
.md-typeset h2 .headerlink,
.md-typeset h3 .headerlink,
.md-typeset h4 .headerlink
{
    display: none;
}

/* Center the hero content */
.hero-content
{
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 0 auto;
    margin-top: -2rem; /* Reclaim the top space left by the blank markdown heading */
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Nudge the content box to the optical center */
    /* transform: translateX(5rem); */
}

/* Debug render a bounding box around the hero content */
.hero-content
{
    outline: 1px solid red;
}

/* Title style */
.hero-title
{
    margin-top: 0;
    font-size: 2.5rem;
}

/* Subtitle style */
.hero-subtitle
{
    margin-top: -1rem;
    max-width: 720px;
    opacity: 0.85;
}

/* Centers the avatar image */
.avatar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5rem; */
}

/* Frames the avatar image in a round frame and adjusts the size */
.avatar img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Centers the caption text and places it under the avatar image */
.avatar .caption
{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #888;
    text-align: left;
}
