name: Markdown Lint

on:
  # Runs only when a PR is opened, synchronized or reopened.
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ["main"]

permissions:
  contents: read
  statuses: write

jobs:
  md-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: MarkdownLint
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: |
            docs/**/*.md
            notes/**/*.md
            README.md
